html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555555;
}
a {
  color: $link;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
}
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.slider__item-info-rateyo,
.product__item-info-rateyo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 15px;
}
